@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400&display=swap');


h1{
 font-family: 'SixCaps';
 font-size: 4rem;
 padding-left: .7rem;
 padding-right: .7rem;
}
article{
 min-width: 300px;
 min-height: calc(144px + 95px + 72px);
 display: flex;
 flex-direction: column;
 height: calc(100vh - 84px);
 justify-content: center;
 gap: .5rem;
}
article h1,
article h2, 
article p{
 font-family: 'Passion One', cursive;
 font-size: 3rem;
 padding-right: .7rem;
}
article h2{
 font-size: 2rem;
 padding-left: .7rem;
}
article p{
 font-size: 1.2rem;
 padding-left: .7rem;
 text-wrap: balance;
 padding-bottom: .7rem;
}

@media (width > 900px) {
 section {
   display: flex;
  }
}