.iconMenu,
.iconTheme,
.iconColor {
  min-width: 300px;
  position: fixed;
  right: clamp(12px, 6vw, 32px);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  z-index: 6;
}
.iconSvg {
  padding: 0.5rem;
  right: 0;
  position: absolute;
  top: clamp(8px, 2vw, 16px);
  width: clamp(42px, 5vw, 56px);
  height: clamp(42px, 5vw, 56px);
  /* padding: 4px; */
  box-sizing: border-box;
}
.moon,
.sun {
  right: clamp(42px, 6vw, 62px);
  padding: 0.5rem;
}
.moon {
  padding: 8px;
  padding: 0.8rem;
}
.iconSvg.colorMoon,
.iconSvg.colorSun {
  user-select: none;
  /* width: 80px; */
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  font-family: "SixCaps", Helvetica, sans-serif;
  letter-spacing: 1px;

  font-size: 2.2rem;
  right: clamp(84px, 12vw, 126px);
  padding-bottom: 0.9rem;
  /* padding: 6px; */
}
.inputMenu {
  display: none;
  padding: 0.5rem;
}
.iconMenu {
  z-index: 9;
}
header .iconMenu .menudark {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary);
}
header .iconMenu .menulight {
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary);
  transition: none;
}
header .iconMenu .menudark0 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary0);
}
header .iconMenu .menulight0 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary0);
}
header .iconMenu .menudark1 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary1);
}
header .iconMenu .menulight1 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary1);
}
header .iconMenu .menudark2 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary2);
}
header .iconMenu .menulight2 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary2);
}
header .iconMenu .menudark3 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary3);
}
header .iconMenu .menulight3 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary3);
}
header .iconMenu .menudark4 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary4);
}
header .iconMenu .menulight4 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary4);
}
header .iconMenu .menudark5 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary5);
}
header .iconMenu .menulight5 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary5);
}
header .iconMenu .menudark6 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary6);
}
header .iconMenu .menulight6 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary6);
}
header .iconMenu .menudark7 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary7);
}
header .iconMenu .menulight7 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary7);
}
header .iconMenu .menudark8 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary8);
}
header .iconMenu .menulight8 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary8);
}
header .iconMenu .menudark9 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--darkPrimary9);
}
header .iconMenu .menulight9 {
  transition: none;
  box-shadow: 0 0 0 0 transparent;
  background-color: transparent;
  fill: var(--lightPrimary9);
}
