#contact{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: clamp(2rem, 4.5vw, 3.5rem);
  gap: 1rem;
}
#contact h2{
  font-size: clamp(1.7rem, 6vw, 3.5rem);
}
.formulario{
  display: flex;
  flex-direction: column;
  height: auto;
  /* gap: 1rem; */
}
.formulario input{
  font-family: "PassionOne", Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  margin-bottom: 1rem;
}
.formulario textarea{
  font-family: "PassionOne", Helvetica, sans-serif;
  background-color: transparent;
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  resize: none;
  outline: none;
  border: none;
  height: 40vh;
  margin-bottom: 1rem;
}
.formulario input::placeholder,
.formulario textarea::placeholder{
  opacity: .35;
  background-color: transparent;
  font-size: clamp(1.5rem, 4.5vw, 3rem);
}
.formulario input[type='submit']{
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  cursor: pointer;
  align-self: center;
  width: 40%;
  min-width: 220px;
  font-family: "PassionOne", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: clamp(1.5rem, 4.5vw, 3rem);
  background-color: transparent;
}
#contact p{
  font-family: "SixCaps", Helvetica, sans-serif;
  align-self: center;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}
#contact .errorMessage{
  font-size: calc(11px, 1.5vw, 22px);
  font-family: "PassionOne", Helvetica, sans-serif;
  line-height: .8;
  align-self: flex-end;
  padding: 0;
}
@media (width > 1024px) {
  #contact {
    width: calc(100vw - 22vw);
  }
  #contact h2 {
    font-size: clamp(1.8rem, 4.5vw, 4rem);
  }
  .formulario input {
    font-size: clamp(1.5rem, 4.5vw, 3rem);
  }

  .formulario textarea {
    font-size: clamp(1.5rem, 4.5vw, 3rem);

  }

  .formulario input::placeholder,
  .formulario textarea::placeholder {
    font-size: clamp(1.5rem, 4.5vw, 3rem);
  }

  .formulario  input[type='submit'] {
    max-width: 400px;
    font-size: clamp(1.5rem, 4vw, 3rem);
  }
}