#project,
#blog{
  height: auto;
  min-height: auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  gap: 2px;
}
#project .card,
#blog .card{
  gap: 0;
  position: relative;
  padding: 0;
  min-height: auto;
  height: auto;
  width: 100%;
  min-width: 0;
  justify-content: space-between;
}
#blog .card{
  cursor: pointer;
}
#project .card:last-child,
#blog .card:last-child{
  align-items: center;
  justify-content: center;
  cursor: pointer;
  min-height: calc(50px + 2rem);
  height: 100%;
}
#project .card:last-child:hover,
#blog .card:last-child:hover{
  background-color: transparent;
}
#project .card h2,
#blog .card h2{
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: inherit;
  padding: 1rem;
  line-height: 1;
  padding-bottom: 0;
  font-size: max(2rem, 4.5vw);
}
#project .card .vermas,
#blog .card .vermas{
  padding: 0;
}
#project .card img,
#blog .card img{
  aspect-ratio: 1.2;
  object-fit: cover;
  padding: 1rem;
  filter: grayscale(1);
  transition: transform .3s ease-in-out;
}
#project .card:hover img,
#blog .card:hover img{
  transform: scale(1.06);
  filter: grayscale(0);
  transition: transform .3s ease-in-out, filter .3s ease-in-out;
}
#project .card div,
#blog .card div{
  width: 100%;
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 1rem;
  opacity: 0;
  gap: .5rem;
  transition: opacity .3s ease-in-out;
}

#project .card:hover div,
#blog .card:hover div{
  width: 100%;
  display: flex;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}
.articleProjects #project .card .cursorPlus,
.articleBlog #blog .card .cursorPlus{
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  animation: pulsar 1.2s ease-in-out infinite;
}
@keyframes pulsar {
  0%{opacity: 1}
  50%{opacity: 0}
  100%{opacity: 1}
}

@media (width > 640px) {
  #project, #blog {
    grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  }
}
@media (width > 1024px) {
  #project, #blog {
    padding: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(26%, 1fr));
  }

    #project .card,
    #blog .card {
    position: relative;
    padding: 0rem;
    min-height: calc(50vh - 3rem);
    height: auto;
    width: 100%;
    min-width: 0;
    justify-content: flex-start;
  }
    #project .card h2,
    #blog .card h2{
    font-size: max(2rem, 2.8vw);
  }
  #project .card:last-child,
  #blog .card:last-child {
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}