.messageToast {
  width: 100%;
  max-width: 420px;
  min-width: 290px;
  min-height: 20px;
  height: 30px;
  padding: 2rem;
  position: fixed;
  top: 84px;
  right: 32px;
  animation: toastMessage 0.5s ease-in-out both;
}
h2#ToastMessage {
  font-family: "PassionOne", Helvetica, sans-serif;
  font-size: 2rem;
}
@media (width > 768px) {
  .messageToast {
    height: 94px;
    right: 32px;
    max-width: 364px;
  }
  h2#ToastMessage {
    font-family: "PassionOne", Helvetica, sans-serif;
    font-size: 2.8rem;
    animation: none;
  }
}
@keyframes toastMessage {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
