*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  scroll-behavior: smooth;
}
@font-face {
  font-family: 'SixCaps';
  src: url('./assets/font/SixCaps-Regular.ttf');
}

@font-face {
  font-family: 'PassionOne';
  src: url('./assets/font/PassionOne-Bold.ttf');
}
